* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.first-container {
    width: 1280px;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
    border-radius: 10px;
}
.btn {
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #E6D6FC;
    border: none;
    color: #883AE1;
    margin-top: 10px;
}
.content-area h2 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 15px;
}
.content-area p {
    opacity: 0.7;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* responsive styles start here */
@media screen and (max-width:640px) {
    .first-container {
        width: 600px;
        margin: 0 auto;
        padding-top: 10px;
        
    }
    .img-container img {
        width: 600px;
        border-radius: 10px;
    }
}